## `Mall Customer Segmentation` Clustering Analysis using ML Algorithms

#### Problem Statement:
- A Mall has collected data of its customers and wants to understand the customers better and segment them into different groups based on atributtes like:
    - Age
    - Gender
    - Annual Income
    - Spending Score

In [2]:
# necessary imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

import git

import warnings
warnings.filterwarnings('ignore')

In [3]:
repoPath = git.Repo('.', search_parent_directories=True).working_tree_dir
dataPath = repoPath + '/data/MallCustomers.csv'

### 1. Exploratory Data Analysis (EDA)

Load the data

In [4]:
df = pd.read_csv(dataPath)
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40